/*---------------------------------------------------------------
3.0 Banner
---------------------------------------------------------------*/

/*------ Home Banner -----*/

.banner-wrapper {
    @include background(center, cover);
    background-attachment: fixed;
    height: 766px;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include breakpoint(x-normal) {
       height: 550px;
    }
    .banner-content {
        text-align: center;
        h1 {
            font-size: 40px;
            color: $color-white;
            font-weight: $font-weight-bold;
            margin-bottom: 15px;
            line-height: 1;
        }
        p {
            font-size: 30px;
            color: $color-white;
            font-weight: $font-weight-regular;
            line-height: 1;
            margin-bottom: 0px;
        }
        ul {
            margin-top: 50px;
            li {
                list-style: none;
                display: inline-block;
                margin-right: 20px;
                .playnow {
                    background-color: transparent;
                    border-radius: 50px;
                    color: #fff;
                    display: inline-block;
                    padding: 8px 15px 8px 55px;
                    position: relative;
                    transition: all 220ms ease-in-out;
                    font-size: 16px;
                    color: $color-white;
                    font-weight: $font-weight-regular;
                    svg {
                        left: 0;
                        margin-top: -22px;
                        position: absolute;
                        top: 55%;
                        width: 40px;
                        height: 40px;
                        transition: transform .3s ease-in-out;
                        transform-origin: 50% 50%;
                        fill: $color-white;
                    }
                    &:hover {
                        background-image: linear-gradient(to bottom, #f5804e 0%, #f4615c 50%S);
                        background-repeat: no-repeat;
                        background-size: 100% 200%;
                        transition: background-position 0.5s;
                        svg {
                            transform: scale(.7);
                        }
                    }
                }
                .joinus {
                    min-width: 120px;
                }
            }
        }
    }
}

/*----- Inner Banner -----*/

.inner-banner-wrapper {
    @include background(center, cover);
    height: 400px;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include breakpoint(x-normal) {
       height: 340px;
    }
    .inner-banner-content {
        text-align: center;
        h2 {
            color: $color-white;
            font-size: em(40);
            line-height: 1.5;
            font-family: $font-family;
            text-transform: $text-uppercase;
            font-weight: $font-weight-bold;
            margin-bottom: 0px;
            letter-spacing: 1.1;
        }
    }
}