@import 'plugin.scss';
@import 'variables.scss';
@import 'mixins.scss';
@import 'reset.scss';

/*----------------------------------------------------------
- Dashboard Css
----------------------------------------------------------*/

svg.hidden {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

body {
    background-color: #f3f3f5;
}

.form-control {
    width: 100% !important;
}

video {
    width: 100%;
    object-fit: unset;
}

/*----- Button Css -----*/

.theme-btn,
.grey-btn {
    font-size: 14px;
    font-family: $font-family;
    font-weight: $font-weight-semibold;
    border-radius: 50px;
    line-height: 2.6;
    text-align: center;
    padding-top: 2px;
    background-repeat: no-repeat;
    background-size: 100% 200%;
    display: inline-block;
    padding: 2px 18px 0;
    text-transform: capitalize;
    @include breakpoint(x-normal) {
        font-size: 12px;
    }
    &:hover,
    &:focus {
        background-position: 0 -100%;
    }
}


.theme-btn {
    color: $color-white;
    background-image: linear-gradient(to bottom, #f5804e 0%, #f4615c 50%, #000000 100%);
    border: 1px solid $theme-color;
    &:hover,
    &:focus {
        color: $theme-color;
    }
}

.grey-btn {
    color: #1b2034;
    background-image: linear-gradient(to bottom, #dcdcdc 10%, #b6b6b6 50%, #f57c50 50%, #f45b5e 100%);
    border: 1px solid #dcdcdc;
    &:hover,
    &:focus {
        color: $theme-color;
        border-color: $theme-color;
    }
}

/*----- Dashboard Section -----*/

.dashborad_main_wrap {
    min-height: 100%;
    overflow-x: hidden;
    position: relative;
    background: #f3f3f5;
    .dashboard_left {
        background: #1b2034;
        width: 290px;
        display: inline-block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        .dashboard_logo {
            text-align: center;
            margin: 0 auto;
            border-bottom: 1px solid #474a5d;
            a {
                display: inline-block;
                max-width: 133px;
                height: 106px;
                @include breakpoint(x-normal) {
                   max-width: 114px;
                    height: 91px;
                }
                svg {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
    .dashboard_nav {
        padding: 50px 10px;
        ul {
            height: 350px;
            li {
                margin-bottom: 20px;
                padding-left: 40px;
                a {
                    font-size: 18px;
                    color: #646874;
                    font-family: $font-family;
                    font-weight: $font-weight-regular;
                    position: relative;
                    padding-left: 35px;
                    display: block;
                    transition: all 0.6s ease-in-out 0s;
                    svg {
                        fill: #646874;
                        position: absolute;
                        top: 3px;
                        left: 0;
                        margin-right: 10px;
                        height: 15px;
                        width: 15px;
                        transition: all 0.6s ease-in-out 0s;
                    }
                    &:hover,
                    &.active {
                        color: #ccccd4;
                        svg {
                            fill: #ccccd4;
                        }
                    }
                }
            }
        }
    }
    .dashboard_right {
        margin-left: 290px;
        display: inline-block;
        height: 100%;
        padding-top: 110px;
        width: calc(100% - 290px);
        .dashboard_header {
            position: fixed;
            top: 0;
            right: 0;
            width: calc(100% - 290px);
            background-color: #fff;
            padding: 35px 60px 35px 60px;
            z-index: 99;
            @include breakpoint(x-normal) {
                padding: 30px 50px 30px 40px;
            }
            .dashboard_search {
                display: inline-block;
                vertical-align: middle;
                width: 49%;
                text-align: left;
                form {
                    .form-group {
                        max-width: 257px;
                        position: relative;
                        margin-bottom: 0px;
                        .form-control {
                            height: 45px;
                            padding: 2px 50px 2px 20px;
                            @include breakpoint(x-normal) {
                               height: 40px;
                            }
                        }
                        #searchsubmit {
                            position: absolute;
                            right: 1px;
                            top: 50%;
                            transform: translateY(-50%);
                            font-family: FontAwesome;
                            background: none;
                            border: none;
                            font-size: 20px;
                            color: $color-white;
                            transition: all 0.3s ease-in-out 0s;
                            min-width: 45px;
                            height: 45px;
                            padding: 0px;
                            background: $theme-color;
                            line-height: 1em;
                            @include breakpoint(x-normal) {
                                height: 40px;
                                min-width: 40px;
                            }
                            &:hover {
                                background: $black;
                            }
                        }
                    }
                }
            }
            .dashboard_notify_sec {
                display: inline-block;
                vertical-align: middle;
                width: 50%;
                text-align: right;
                ul {
                    li {
                        list-style: none;
                        display: inline-block;
                        vertical-align: middle;
                        &.noti-icon-wrapper { 
                            a {
                                display: inline-block;
                                position: relative;
                                &.notificationModule  {
                                    width: 20px;
                                    height: 20px;
                                    padding: 0;
                                }
                                svg {
                                    height: 20px;
                                    width: 18px;
                                    margin-top: 5px;
                                    fill: #ccccd4;
                                    transition: all 0.5s ease-in-out 0s;
                                }
                                &:hover,
                                &:focus {
                                    svg {
                                        fill: $black;
                                    }
                                }
                                .noti-count {
                                    position: absolute;
                                    top: -5px;
                                    right: -8px;
                                    height: 18px;
                                    width: 18px;
                                    border-radius: 3px;
                                    background: #f45b5e;
                                    color: $color-white;
                                    text-align: center;
                                    sup {
                                        position: absolute;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        left: 0;
                                        right: 0;
                                        text-align: center;
                                        margin: 0 auto;
                                        bottom: inherit;
                                        font-size: 14px;
                                        line-height: normal;
                                        color: $color-white;
                                    }
                                }
                            }
                             * {
                                vertical-align: middle !important;
                            }
                            .dropdown-menu {
                                left: auto;
                                right: 0;
                                width: 420px;
                            }
                        }
                        &.heading {
                            margin-left: 30px;
                            h3 {
                                font-size: 22px;
                                color: $color-black;
                                margin-bottom: 0px;
                                font-weight: $font-weight-regular;
                                @include breakpoint(x-normal) {
                                    font-size: 18px;
                                }
                            }
                        }
                        .notificationWrapper {
                            a {
                                padding: 10px 20px;
                                box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
                                p {
                                    margin-bottom: 0px;
                                    line-height: 1.3;
                                }
                                span {
                                    text-transform: capitalize;
                                }
                            }
                            .dropdown-item {
                                white-space: inherit;
                            }
                        }
                        .nav-link.dropdown-toggle::after {
                            color: #ffffff !important;
                        }
                        .dropdown-menu {
                            border-color: #ffffff;
                            border-radius: 0;
                            box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);
                            margin-top: 0;
                            padding: 0;
                            top: 12px !important;
                        }
                        .notificationContent {
                            height: 300px;
                        }
                    }
                }
            }
        }
        .dashboard_inner_wrap {
            max-width: 1188px;
            padding: 56px;
            @include breakpoint(x-normal) {
                padding: 40px;
            }
            h5 {
                font-size: 20px;
                color: #646874;
                font-weight: $font-weight-semibold;
                @include breakpoint(x-normal) {
                    font-size: 17px;
                }
            }
            #accordion {
                .card {
                    background: $color-white;
                    margin-bottom: 40px;
                    border: none;
                    border-radius: 0px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    .card-header {
                        background: none;
                        padding: 0px;
                        border-bottom: none;
                        h4 {
                            a {
                                font-size: 22px;
                                color: #646874;
                                font-weight: $font-weight-semibold;
                                margin-bottom: 0px;
                                position: relative;
                                display: block;
                                text-transform: capitalize;
                                padding: 26px 25px 19px;
                                @include breakpoint(x-normal) {
                                    font-size: 18px;
                                    padding: 19px 18px 18px;
                                }
                                &:after {
                                    content: "\f106";
                                    font-family: FontAwesome;
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    right: 25px;
                                    color: #a4a7ae;
                                    font-size: 25px;
                                }
                                &:hover {
                                    &:after {
                                        color: $theme-color;
                                    }
                                }
                            }
                            &.collapsed {
                                a {
                                    &:after {
                                        content: "\f107";
                                    }
                                }
                            }
                        }
                    }
                    .card-body {
                        padding: 0px;
                        padding: 0px 25px 25px;
                        position: relative;
                        @include breakpoint(x-normal) {
                            padding: 0 18px 18px;
                        }
                        &:before {
                            content: "";
                            background: #ccccd4;
                            height: 1px;
                            display: block;
                            margin-bottom: 25px;
                        }
                    }
                }
            }
            .title {
                margin-bottom: 15px;
                h4 {
                    font-size: 22px;
                    color: #646874;
                    margin-bottom: 0px;
                    @include breakpoint(x-normal) {
                        font-size: 18px;
                    }
                }
            }
            input[type=file] {
                opacity: 0;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                position: absolute;
                cursor: pointer;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                border-radius: 100%;
            }
            .dashboard_basic_profile {
                #accordion {
                    .card {
                        .card-body {
                            .user-profile {
                                figure {
                                    margin-bottom: 15px;
                                    border: 10px solid #f3f3f5;
                                    background-size: cover;
                                    background-position: center;
                                    height: 300px;
                                }
                                ul {
                                    display: flex;
                                    justify-content: space-between;
                                    li {
                                        list-style: none;
                                        align-self: center;
                                        &.uploadButton {
                                            position: relative;
                                            display: inline-block;
                                            cursor: pointer;
                                            span {
                                                transition: all 0.5s ease-in-out 0s;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            form {
                .form-group {
                    margin-bottom: 10px;
                }
                label {
                    font-size: 14px;
                    color: #646874;
                    font-family: $font-family;
                    font-weight: $font-weight-regular;
                }
                .form-control {
                    border: 1px solid #e1e1e1;
                    box-shadow: none;
                    border-radius: 0px;
                    height: 40px;
                    &:focus {
                        border-color: $color-black;
                    }
                }
                textarea {
                    &.form-control {
                        height: 135px;
                    }
                }
                ul {
                    margin-top: 17px;
                    li {
                        list-style: none;
                        display: inline-block;
                        margin-right: 10px;
                        &:last-child {
                            margin-right: 0px;
                        }
                        button {
                            min-width: 95px;
                            &:hover,
                            &:focus {
                                background-position: 0 -100%;
                                color: $theme-color;
                                box-shadow: none;
                            }
                        }
                    }
                }
                .radio-sec {
                    ul {
                        margin-top: 8px;
                    }
                    .radio {
                        margin-right: 25px;
                        margin-bottom: 0px;
                        display: inline-block;
                        @include breakpoint(x-normal) {
                            margin-right: 14px;
                        }
                        &:last-child {
                            margin-right: 0px;
                        }
                        label {
                            margin-bottom: 0px;

                        }
                    }
                    [type="radio"]:checked,
                    [type="radio"]:not(:checked) {
                        position: absolute;
                        left: -9999px;
                    }
                    [type="radio"]:checked + label,
                    [type="radio"]:not(:checked) + label {
                        position: relative;
                        padding-left: 20px;
                        cursor: pointer;
                        line-height: 20px;
                        display: inline-block;
                        font-family: $font-family;
                        vertical-align: bottom;
                        font-size: 14px;
                        font-weight: $font-weight-regular;
                        color: #646874;
                        @include breakpoint(x-normal) {
                            font-size: 12px;
                        }
                    }
                    [type="radio"]:checked + label:before,
                    [type="radio"]:not(:checked) + label:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 14px;
                        height: 14px;
                        border-radius: 100%;
                        background: #fff;
                    }
                    [type="radio"]:checked + label:before {
                        border: 2px solid $theme-color;
                    }
                    [type="radio"]:not(:checked) + label:before {
                        border: 2px solid #b2b2b2;
                    }
                    [type="radio"]:checked + label:after,
                    [type="radio"]:not(:checked) + label:after {
                        content: '';
                        width: 8px;
                        height: 8px;
                        background: $theme-color;
                        position: absolute;
                        top: 3px;
                        left: 3px;
                        border-radius: 100%;
                        -webkit-transition: all 0.2s ease;
                        transition: all 0.2s ease;
                    }
                    [type="radio"]:not(:checked) + label:after {
                        opacity: 0;
                        -webkit-transform: scale(0);
                        transform: scale(0);
                    }
                    [type="radio"]:checked + label:after {
                        opacity: 1;
                        -webkit-transform: scale(1);
                        transform: scale(1);
                    }
                }
            }
            .key-roles {
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
                .key-role-left,
                .key-role-right {
                    align-self: center;
                    li {
                        list-style: none;
                        display: inline-block;
                        margin: 0 4px;
                    }
                }
                .key-role-left {
                    background: #f3f3f5;
                    padding: 5px 12px;
                    border-radius: 7px;
                    small {
                        margin-bottom: 0px;
                        font-size: 16px;
                        color: #979aa1;
                        margin-right: 5px;
                        display: inline-block;
                        font-style: normal;
                    }
                    ul {
                        display: inline-block;
                        li {
                            font-size: 16px;
                            color: #646874;
                            text-transform: $text-uppercase;
                            font-family: $font-family;
                            font-weight: $font-weight-regular;
                        }
                    }
                }
                .key-role-right {
                    li {
                        display: inline-block;
                        vertical-align: middle;
                        a {
                            height: 15px;
                            width: 15px;
                            fill: #646874;
                            display: inline-block;
                            svg {
                                height: 100%;
                                width: 100%;
                            }
                            &:hover {
                                fill: $theme-color;
                            }
                        }
                    }
                    label,
                    select {
                        display: inline-block;
                        vertical-align: middle;
                    }
                    label {
                        margin: 0 8px 0 0;
                        font-size: 14px;
                        color: #474a5d;
                    }
                    select {
                        max-height: 37px;
                        width: 110px;
                        border-radius: 50px;
                    }
                }
            }
        }
    }
    .grid-item {
        padding: 15px;
        background: #f3f3f5;
        border-radius: 6px;
        margin-bottom: 30px;
        transition: all 0.3s ease-in-out 0s;
        position: relative;
        &:hover {
            box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
        }
        .play-wrap {
            @include background(center, cover);
            height: 216px;
            border-radius: 6px;
            position: relative;
            z-index: 1;
            padding: 8px;
            margin-bottom: 10px;
            display: block;
            @include breakpoint(x-normal) {
               height: 180px;
            }
            .play-icon {
                z-index: -1;
                height: 40px;
                width: 40px;
                fill: #ffffff;
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                left: 0;
                right: 0;
                text-align: center;
                margin: 0 auto;
            }
            &:hover,
            &:focus {
                .play-icon {
                    fill: $theme-color;
                }
            }
        }
        form {
            position: absolute;
            top: 20px;
            z-index: 99;
            left: 25px;
            input[type=checkbox] {
                -webkit-appearance: none;
                display: none;
            }
            span.new-checkbox {
                background: #fff;
                border: solid 2px #6c6c6c;
                width: 16px;
                height: 16px;
                vertical-align: middle;
                margin-right: 7px;
                border: solid 1px rgba(37, 53, 71, 0.3);
                cursor: pointer;
                border-radius: 100%;
                display: inline-block;
                margin-left: 0px;
                top: -1px;
                position: relative;
                background: #696969;
            }
            .checkbox {
                label {
                    margin-bottom: 0px;
                    display: inline-block;
                    font-family: 'Source Sans Pro', sans-serif;
                    vertical-align: bottom;
                    font-size: 15px;
                    font-weight: 400;
                    color: rgba(51, 51, 51, 0.7);
                    .new-checkbox {
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 5px;
                        position: inherit;
                        margin-top: -3px;
                        margin-right: 5px;
                        border-radius: 100%;
                    }
                }
            }
            input[type=checkbox]:checked + span.new-checkbox {
                background: $theme-color;
                position: relative;
                width: 16px;
                height: 16px;
                display: inline-block;
                border-color: $theme-color;
            }
            input[type=checkbox]:checked + span.new-checkbox:after {
                content: '';
                position: absolute;
                width: 10px;
                height: 5px;
                background: transparent;
                top: 24%;
                left: 2px;
                right: 0;
                text-align: center;
                border: 2px solid #ffffff;
                border-top: none;
                border-right: none;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }
        .grid_content {
            .special_link {
                display: flex;
                justify-content: space-between;
                .special_link_left,
                .special_link_right {
                    align-items: center;
                    li {
                        display: inline-block;
                        list-style: none;
                        margin: 0 3px;
                        a {
                            height: 15px;
                            width: 15px;
                            fill: #979aa1;
                            display: inline-block;
                            svg {
                                height: 100%;
                                width: 100%;
                            }
                            &:hover {
                                fill: #646874 ;
                            }
                        }
                    }
                }
            }
            h5 {
                border-bottom: 1px solid #c3c3c3;
                margin-bottom: 13px;
                padding-bottom: 10px;
            }
            h5 a {
                font-size: 18px;
                color: #646874;
                @include breakpoint(x-normal) {
                   font-size: 16px;
                }
            }
            h5 a:hover {
                color: $theme-color;
            }
        }
    }
    cite.meta-info {
        font-size: 14px;
        color: #979aa1;
        font-family: $font-family;
        font-weight: $font-weight-regular;
        font-style: normal;
        margin-bottom: 5px;
        display: block;
    }
}

/*----- Dashboard Common Css ------*/

.dashboard_title {
    h4, h4 a {
        font-size: 22px;
        color: #646874;
        font-weight: $font-weight-semibold;
        margin-bottom: 0px;
        position: relative;
        display: block;
        text-transform: capitalize;
        @include breakpoint(x-normal) {
            font-size: 18px;
        }
    }
    h4 {
        i {
            margin-right: 8px;
            display: inline-block;
        }
        a {
            display: inline-block;
            &:hover {
                color: $theme-color;
            }
        }
    }
}

/*----- Dashboard Project Section -----*/

.dashboard_project_section {
    background: $color-white;
    padding: 18px 30px 30px;
    .dashboard_heading {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ccccd4;
        padding-bottom: 13px;
        margin-bottom: 13px;
        .dashboard_title,
        .new-project {
            align-self: center;
        }
        .new-project {
            a {
                &:hover,
                &:focus {
                    svg {
                        fill: $theme-color;
                    }
                }
                svg {
                    height: 13px;
                    width: 13px;
                    display: inline-block;
                    vertical-align: middle;
                    fill: $color-white;
                    margin-right: 4px;
                    margin-top: -4.5px;
                }
            }
        }
    }
    .dashboard_grid {
        .griditem {
            margin-bottom: 30px;
            border-radius: 6px;
            transition: all 0.3s ease-in-out 0s;
            &:hover {
                box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.3);
            }
            figure {
                @include background(center, cover);
                height: 190px;
                border-radius: 6px 6px 0px 0px;
                position: relative;
                z-index: 1;
                padding: 8px;
                margin-bottom: 0px;
                @include breakpoint(x-normal) {
                    height: 175px;
                }
                &:before {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    content: "";
                    background: rgba(0, 0, 0, 0.5);
                    border-radius: 6px 6px 0px 0px;
                    z-index: -1;
                }
                .notify-icon {
                    text-align: right;
                    a {
                        display: block;
                        color: #86837e;
                        font-size: 20px;
                        position: relative;
                        &:hover {
                            color: #ecad02;
                        }
                        .data-toggle {
                            background: $color-white;
                            padding: 10px 15px;
                            max-width: 240px;
                            z-index: 99;
                            float: right;
                            right: 10px;
                            left: auto;
                            top: 80px;
                            display: none;
                            li {
                                font-size: 14px;
                                color: #646874;
                                text-align: left;
                                margin: 0;
                                display: block;
                                margin-bottom: 5px;
                                position: relative;
                                padding-left: 15px;
                                @include breakpoint(x-normal) {
                                    font-size: 13px;
                                }
                                &:before {
                                    content: "\f111";
                                    font-family: FontAwesome;
                                    color: $theme-color;
                                    font-size: 6px;
                                    position: absolute;
                                    left: 0;
                                    top: 6px;
                                }
                                &:last-child {
                                    margin-bottom: 0px;
                                }
                            }
                        }
                        &.show {
                            .data-toggle {
                                display: block;
                            }
                        }
                    }
                }
                h5 {
                    font-size: 18px;
                    color: $color-white;
                    line-height: 1;
                    margin: -10px 0px 0px 15px; 
                }
                ul {
                    text-align: center;
                    position: absolute;
                    top: 53%;
                    transform: translateY(-50%);
                    left: 0;
                    right: 0;
                    li {
                        list-style: none;
                        display: inline-block;
                        margin: 10px 15px 0px;
                        a {
                            display: inline-block;
                            height: 20px;
                            width: 20px;
                            fill: $color-white;
                            svg {
                                height: 100%;
                                width: 100%;
                            }
                        }
                        &:hover {
                            a {
                                fill: $theme-color;
                            }
                        }
                    }
                }
            }
            .grid_content {
                background: #f3f3f5;
                border-radius: 0px 0px 6px 6px;
                padding: 15px 15px 10px;
                ul {
                    border-bottom: 1px solid #c3c3c3;
                    margin-bottom: 10px;
                    padding-bottom: 7px;
                    display: flex;
                    justify-content: space-around;
                    li {
                        list-style: none;
                        position: relative;
                        a {
                            font-size: 18px;
                            color: #646874;
                            font-family: $font-family;
                            font-weight: $font-weight-regular;
                            text-transform: $text-capitalize;
                            cite {
                                font-style: normal;
                                font-size: 30px;
                                font-weight: $font-weight-semibold;
                            }
                            &:hover {
                                color: $theme-color;
                            }
                        }
                        &:first-child {
                            &:after {
                                content: "";
                                height: 40px;
                                width: 1px;
                                background: #c3c3c3;
                                position: absolute;
                                right: -24px;
                                top: 0;
                                bottom: 0;
                            }
                        }
                    }
                }
                .meta-info {
                    span {
                        color: #979aa1;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

/*----- Dashboard Single -----*/

.dashboard_single_wrap {
    .dashboard_project_section {
        padding: 18px 22px 25px;    
    }
    .dashboard_heading {
        margin-bottom: 20px;
    }
    .dashboard_antony {
        display: flex;
        justify-content: space-between;
        .dashboard_title,
        .dashboard_del {
            align-items: center;
        }
        .dashboard_del {
            margin-bottom: 20px;
            li {
                list-style: none;
                display: inline-block;
                margin: 0 3px;
                a {
                    height: 15px;
                    width: 15px;
                    fill: #646874;
                    display: inline-block;
                    svg {
                        height: 100%;
                        width: 100%;
                    }
                    &:hover {
                        fill: $theme-color;
                    }
                }
            }
        }
    }
    .dashboard_single_grid {
        #accordion {
            .card {
                background: #f3f3f5 !important;
                margin-bottom: 10px !important;
                &.bg-color {
                    background: $color-white !important;
                    box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.2);
                }
                .card-body {
                    padding: 10px 0px 0px;
                }
            }
        }
    }
}

sup {
    color: red;
    font-size: 20px;
    top: 0;
}

/*----- Modal Form ------*/

.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 999;
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        margin-right: -4px;
        vertical-align: middle;
    }
    .popup-inner-elem {
        padding: 20px 30px;
        border-radius: 0px;
        position: relative;
        text-align: left;
        .title {
            h4, h5 {
                font-size: 22px;
                color: #646874;
                font-weight: $font-weight-semibold;
                margin-bottom: 0px;
                border-bottom: 1px solid #ccccd4;
                margin-bottom: 20px;
                padding-bottom: 10px;
            }
            h5 {
                font-size: 20px;
                border-bottom: none;
                margin-bottom: 10px;
                padding-bottom: 0;
            }
        }
        form {
            label {
                font-size: 14px;
                color: #646874;
                font-family: $font-family;
                font-weight: $font-weight-regular;
            }
            .form-control {
                border-radius: 0px;
                box-shadow: none;
                border: 1px solid #e1e1e1;
                height: 40px;
                &:focus {
                    border-color: $theme-color;
                }
            }
            .form-group {
                ul {
                    li {
                        list-style: none;
                        display: inline-block;
                        width: 14.3%;
                        margin-right: 6px;
                        &:last-child {
                            margin-right: 0px;
                        }
                        input  {
                            padding: 0 10px;
                        }
                    }
                }
            }
            ul.button-sec {
                margin: 0 auto;
                text-align: center;
                li {
                    list-style: none;
                    display: inline-block;
                    margin: 0 2px;
                }
            }
            .form-middle-sec {
                text-align: center;
                cite {
                    font-style: normal;
                    font-family: $font-family;
                    font-weight: $font-weight-regular;
                    color: #646874;
                    font-size: 14px;
                    text-transform: $text-capitalize;
                    display: block;
                    &.role {
                        color: $theme-color;
                        display: inline-block;
                        svg {
                            height: 12px;
                            width: 12px;
                            fill: $theme-color !important;
                        }
                    }
                }
            }
        }
        button {
            margin: 20px 0 0;
            min-width: auto;
        }
        .popup-close {
            position: absolute;
            right: -12px;
            top: -12px;
            padding: 0;
            min-width: auto;
            background: #494949;
            height: 30px;
            width: 30px;
            border-radius: 100%;
            opacity: 1;
            z-index: 99;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
            i {
                font-size: 20px;
                display: inline-block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
                z-index: 99;
                text-align: center;
                color: $color-white;
            }
            &:hover {
                background: $theme-color;
                transform: rotate(360deg);
                i {
                    color: $color-white;
                }
            }
        }
    }
    .popup-inner {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        max-width: 450px;
        width: 80%;
        background: #fff;
    }
}
.congo {
    .popup-inner {
        max-width: 360px;
    }
    .popup-inner-elem {
        padding: 50px 30px;
        text-align: center;
    }
    .congo-icon {
        height: 65px;
        width: 65px;
        margin: 0 auto 20px;
        border: 2px solid #e7e7e7;
        position: relative;
        border-radius: 100%;
        svg {
            height: 35px;
            width: 35px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            margin: 0 auto;
            fill: $theme-color;
        }
    }
    h4 {
        font-size: 22px;
        color: $theme-color;
    }
    p {
        font-size: 14px;
        color: #646874;
        &.top_content {
            &:after {
                content: "";
                background: #ccccd4;
                height: 1px;
                margin: 20px auto;
                width: 100px;
                display: block;
            }
        }
    }
    ul {
        padding-top: 12px;
        li {
            list-style: none;
            display: inline-block;
            margin: 0 5px;
        }
    }
}

.downlink {
    .popup-inner {
        max-width: 762px;
        .title {
            h4 {
                border: none;
                padding: 0px;
                margin-bottom: 10px;
            }
        }
        input[type="url"] {
            background: #f7f7f7;
            padding: 2px 10px;
        }
    }
}

.send {
    .popup-inner {
        .popup-inner-elem {
            form {
                ul.button-sec {
                    margin: 0 auto 20px;
                    text-align: left;
                }
            }
        }
    }
}

.input-file-container {
  position: relative;
} 

.file-field {
    margin-bottom: 20px;
    .form-group {
        width: 220px;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0px;
        &.browse-btn {
            width: auto;
            label {
                font-size: 14px;
                min-width: 102px;
                font-family: $font-family;
                font-weight: $font-weight-semibold;
                border-radius: 50px;
                line-height: 2.6;
                height: auto;
                text-align: center;
                padding-top: 2px;
                background-repeat: no-repeat;
                background-size: 100% 200%;
                display: inline-block;
                padding: 2px 18px 0;
                text-transform: capitalize;
                color: #646874;
                border: 1px solid #dcdcdc;
                background-image: linear-gradient(to bottom, #dcdcdc 10%, #b6b6b6 50%, #f57c50 50%, #f45b5e 100%);
                @include breakpoint(x-normal) {
                    font-size: 12px;
                }
                &:hover {
                    color: $theme-color;
                    border-color: $theme-color;
                    background-position: 0 -100%;
                }
            }
        }
    }
    cite {
        display: inline-block;
        vertical-align: middle;
        margin: 0 20px;
        font-size: 14px;
        color: #646874;
        font-family: $font-family;
        font-weight: $font-weight-regular;
        font-style: normal;
        text-transform: capitalize;
    }
}
.input-file-trigger {
    display: block;
    padding: 2px 15px;
    font-size: 14px;
    transition: all .4s;
    cursor: pointer;
    box-shadow: none;
    border: 1px solid #e1e1e1;  
}
.input-file-container label.input-file-trigger {
    font-weight: 400;
    display: block;
    height: 40px;
    line-height: 40px;
}
.input-file {
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    cursor: pointer;
    z-index: -1;
    padding: 0px;
}
.file-return {
  margin: 0;
}
.file-return:not(:empty) {
    margin: 0;
}
.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}

/*----- Footer Section -----*/

footer {
    font-size: 14px;
    font-weight: 400;
    background-color: #252c49;
    padding: 18px 10%;
    position: relative;
    .copy_right {
        text-align: center;
        span {
            color: #d9d9d9;
            font-size: 14px;
            display: block;
            text-align: center;
            a {
                color: #318ed5;
                &:hover {
                    color: $theme-color;
                }
            }
        }
    }
}

.container {padding:20px;}
.form-control {width:120px;}
.popover {max-width:400px;}

#popover-content-logout > * {
  background-color:#ff0000 !important;
}

// Tooltip
.tooltip-inner { 
    background-color: #ffffff; 
    color: #000;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #7abcff;
}

/*----- Dashboard Upgrade -----*/

.dashboard_upgrade {
    background: $color-white;
    padding: 20px;
    .table {
        text-align: center;
        td, th {
            vertical-align: middle;
            font-family: $font-family;
        }
        thead {
            tr {
                th {
                    font-size: 18px;
                    color: $color-white;
                    background: #252c49;
                    font-weight: $font-weight-semibold;
                    padding: 12px;
                    &.plan {
                        width: 18%;
                    }
                    &.upload-token {
                        width: 23%;
                    }
                    &.expiry-date {
                        width: 20%;
                    }
                    &.subscription-charges {
                        width: 23%;
                    }
                    &.status {
                        width: 20%;
                    }
                }
            }
        }
        tbody {
            tr {
                td {
                    font-size: 14px;
                    color: #92959d;
                    font-weight: $font-weight-regular;
                    padding: 12px 10px 10px;
                    .theme-btn {
                        line-height: 2;
                        min-width: 80px;
                    }
                }
                &.active {
                    td {
                        background: #f6f6f6;
                        color: #646874;
                        &:first-child {
                            background: none;
                        }
                        .theme-btn {
                            border: none;
                            background: none;
                            color: $theme-color;
                            &:hover {
                                background-image: none;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*----- Uploads Section ------*/

.dashboard_uploads {
    #accordion {
        .card {
            .card-body {
                .key-roles {
                    display: inherit;
                    text-align: right;
                }
                .aditional-details {
                    form {
                        margin-bottom: 20px;
                        &:last-child {
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }
    }
    .file-upload-dec {
        background: $color-white;
        padding: 13px;
        border-radius: 8px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
        position: relative;
        figure {
            height: 75px;
            width: 70px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 6px;
            position: absolute;
            left: 10px;
            top: 50%;
            margin-bottom: 0px;
            transform: translateY(-50%);
        }
        .file-upload-content {
            padding-left: 80px;
            .upload {
                input {
                    font-size: 20px;
                    color: #646874;
                    font-weight: 600;
                    font-family: $font-family;
                    border: none;
                    padding: 0px;
                    width: 90%;
                    text-transform: capitalize;
                    @include breakpoint(x-normal) {
                        font-size: 17px;
                    }
                }
            }
            cite {
                font-size: 13px;
                color: #92959d;
                font-style: normal;
                font-family: $font-family;
                font-weight: $font-weight-regular;
                margin-bottom: 4px;
                display: block;
            }
            .progress {
                height: 4px;
                border-radius: 50px;
                margin-bottom: 4px;
            }
            span {
                color: #0b7cff;
                font-size: 13px;
            }
            .cross {
                position: absolute;
                right: 10px;
                top: 10px;
                a {
                    color: #959595;
                    display: inline-block;
                    font-size: 13px;
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
        }
    }
    .upload-dec-wrap {
        background: $color-white;
        padding: 13px;
        border-radius: 8px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
        .add_files {
            background: #f3f3f5;
            border-radius: 8px;
            padding: 30px 15px;
            text-align: center;
            a.icon {
                height: 60px;
                width: 60px;
                background: $color-white;
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
                border-radius: 100%;
                text-align: center;
                margin: 0 auto 10px;
                position: relative;
                display: inline-block;
                svg {
                    height: 25px;
                    width: 25px;
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    margin: 0 auto;
                }
            }
            h5 {
                font-size: 18px;
                margin-bottom: 0px;
            }
            cite {
                font-size: 18px;
                font-style: normal;
                color: #9c9eaf;
                font-family: $font-family;
                font-weight: $font-weight-regular;
                display: block;
                margin-bottom: 5px;
            }
            .add_file {
                transition: all 0.5s ease-in-out 0s;
                position: relative;
                cursor: pointer;
                &:hover,
                &:focus {
                    svg {
                        fill: $theme-color;
                    }
                }
                svg {
                    height: 13px;
                    width: 13px;
                    display: inline-block;
                    vertical-align: middle;
                    fill: $color-white;
                    margin-right: 4px;
                    margin-top: -4.5px;
                }
            }
        }
    }
}

.dashboard_uploads_single {
    .dashboard_content {
        .single_featured {
            position: relative;
            .link {
                position: absolute;
                display: inline-block;
                top: 0;
                right: 0;
                background: #a7a7a8;
                height: 30px;
                width: 30px;
                svg {
                    fill: $color-white;
                    height: 18px;
                    width: 18px;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    right: 0;
                    text-align: center;
                    position: absolute;
                    margin: 0 auto;
                }
                &:hover {
                    background: $theme-color;
                }
            }
        } 
    }
}

/*----- Dashboard Upload Single -----*/

.dashborad_main_wrap .dashboard_right .dashboard_inner_wrap.dashboard_upload_inner {
    max-width: 1460px;
}
.dashboard_content {
    background: #ffffff;
    padding: 20px;
    .dashboard_title {
        margin-bottom: 15px;
    }
    h4.title {
        font-size: 22px;
        color: #646874;
        border-bottom: 1px solid #ccccd4;
        padding-bottom: 13px;
        @include breakpoint(x-normal) {
            font-size: 18px;
        }
    }
    ul {
        li {
            list-style: none;
            .label,
            .content {
                display: inline-block;
                vertical-align: top;
            }
            .label {
                width: 18%;
            }
            .content {
                width: 80%;
            }
            p, span {
                font-size: 16px;
                font-family: $font-family;
                font-weight: $font-weight-regular;
                @include breakpoint(x-normal) {
                    font-size: 14px;
                }
            }
            p, p a {
                color: #646874;
                margin-bottom: 0px;
            }
            p a:hover {
                color: $theme-color;
            }
            span {
                color: #979aa1;
                margin-right: 10px;
            }
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
    .detail-wrap {
        margin-bottom: 18px;
        display: flex;
        justify-content: space-between;
        .links-wrap {
            li {
                display: inline-flex;
                vertical-align: middle;
                margin-left: 8px;
                &.info {
                    a {
                        display: inline-block;
                        height: 30px;
                        width: 30px;
                        svg {
                            height: 100%;
                            width: 100%;
                            fill: $theme-color;
                            stroke:#f45b5e;
                            stroke-miterlimit:10;
                            stroke-width:13px;
                            transition: all 0.3s ease-in-out 0s;
                            transition: all 0.3s ease-in-out 0s;
                            &:hover {
                                fill: $black;
                                stroke: $black;
                            }
                            
                        }circle.cls-1 {
                               /*stroke:$theme-color !important;*/fill:none;
                            }
                    }
                }
            }
        }
        .detail-sec {
            li {
                .label,
                .content {
                    width: auto;
                }
            }
        }
    }
}

/*------ Dashboard Sidebar ------*/

.dashboard_sidebar {
    background: $color-white;
    padding: 20px;
    .top_sec {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        h5 {
            font-size: 20px;
            color: #646874;
            margin: 0px;
            align-items: center;
        }
        .autoplay {
            cite {
                font-size: 16px;
                font-style: normal;
                font-family: $font-family;
                font-weight: $font-weight-regular;
                color: #979aa1;
                align-items: center;
                display: inline-block;
                vertical-align: middle;
                text-transform: $text-capitalize;
                margin-right: 5px;
            }
            .onoffswitch {
                position: relative;
                width: 32px;
                display: inline-block;
                vertical-align: middle;
                .onoffswitch-checkbox {
                    display: none;
                }
                .onoffswitch-label {
                    display: block; 
                    overflow: hidden; 
                    cursor: pointer;
                    border-radius: 20px;
                    margin-bottom: 0px;
                    height: 20px;
                }
                .onoffswitch-inner {
                    display: block; 
                    width: 200%; 
                    margin-left: -100%;
                    transition: margin 0.3s ease-in 0s;
                }
                .onoffswitch-inner:before, 
                .onoffswitch-inner:after {
                    display: block; 
                    float: left; 
                    width: 50%; 
                    height: 22px; 
                    padding: 0; 
                    line-height: 22px;
                    font-size: 12px; 
                    color: black; 
                    box-sizing: border-box;
                }
                .onoffswitch-inner:before {
                    content: "";
                    padding-left: 6px;
                    background-color: $theme-color;
                }
                .onoffswitch-inner:after {
                    content: "";
                    padding-right: 6px;
                    background-color: $color-grey;
                    text-align: right;
                }
                .onoffswitch-switch {
                    display: block; 
                    width: 16px; 
                    margin: 2px;
                    background: $color-white;
                    position: absolute; 
                    top: 0; 
                    bottom: 0;
                    right: 12px;
                    border: 2px solid $color-white;
                    border-radius: 20px;
                    transition: all 0.3s ease-in 0s; 
                }
                .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
                    margin-left: 0;
                }
                .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
                    right: 0px; 
                }
            }
        }
    }
    ul {
        li {
            list-style: none;
            position: relative;
            margin-bottom: 20px;
            min-height: 100px;
            &:last-child {
                height: 0px;
                margin-bottom: 0px;
            }
            figure {
                margin-bottom: 0px;
                a {
                    @include background(center, cover);
                    height: 90px;
                    width: 120px;
                    border-radius: 8px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: inline-block;
                    transition: all 0.5s ease-in-out 0s;
                    @include breakpoint(x-normal) {
                        height: 70px;
                        width: 90px;
                    }
                    .play-icon {
                        height: 40px;
                        width: 40px;
                        fill: #ffffff;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        right: 0;
                        text-align: center;
                        margin: 0 auto;
                    }
                    &:hover {
                        .play-icon {
                            fill: $theme-color;
                        }
                    }
                }
            }
            .content {
                padding-left: 130px;
                @include breakpoint(x-normal) {
                    padding-left: 102px;
                }
                cite {
                    margin-bottom: 0px;  
                    @include breakpoint(x-normal) {
                        font-size: 13px;
                    }
                }
                p {
                    @include breakpoint(x-normal) {
                        font-size: 14px;
                        line-height: 1.4;
                    }
                }
            }
        }
    }
}