/*---------------------------------------------------------------
5.0 Footer
---------------------------------------------------------------*/

.footer-wrapper {
    position: relative;
    .footer-top {
        background: #1b2034;
        padding: 60px 0px;
        .footer-sec {
            display: inline-block;
            vertical-align: top;
            .footer-logo {
                a {
                    max-width: 175px;
                    display: inline-block;
                    display: inline-block;
                    svg {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
            .social-share {
                margin-top: 80px;
                h4 {
                    margin-bottom: 10px;
                }
                ul {
                    li {
                        list-style: none;
                        display: inline-block;
                        margin-right: 5px;
                        a {
                            color: #7f828d;
                            font-size: 20px;
                            &:hover {
                                color: $theme-color;
                            }
                        }
                    }
                }
            }
            h4 {
                color: $color-white;
                font-family: $font-family;
                font-weight: $font-weight-regular;
                text-transform: $text-uppercase;
                margin-bottom: 25px;
                font-size: 20px;
            }
            p {
                color: $color-white;
            }
            &.column-2 {
                ul {
                    li {
                        list-style: none;
                        display: inline-block;
                        min-width: 49%;
                        margin-bottom: 10px;
                        a {
                            color: #a5a5a5;
                            font-size: 18px;
                            font-family: $font-family;
                            font-weight: $font-weight-regular;
                            &:hover {
                                color: $theme-color;
                            }
                        }
                    }
                }
            }
            &.column-3 {
                li {
                    list-style: none;
                    position: relative;
                    margin-bottom: 10px;
                    padding-left: 30px;
                    figure {
                        position: absolute;
                        top: 0px;
                        left: 0;
                        color: #a5a5a5;
                    }    
                    a, address {
                        font-size: 16px;
                        color: #a5a5a5;
                        font-family: $font-family;
                        font-weight: $font-weight-regular;
                        margin-bottom: 0px;
                    }
                    a {
                        &:hover {
                            color: $theme-color;
                        }
                    }
                }
            }
        }
    }
    .footer-bottom {
        background: #252c49;
        padding: 20px 0px;
        span {
            color: #d9d9d9;
            font-size: 14px;
            display: block;
            text-align: center;
            a {
                color: #318ed5;
                &:hover {
                    color: $theme-color;
                }
            }
        }
    }
}