/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/

.header {
    background: $black;
    padding: 2px 0px;
    opacity: 1;
    visibility: visible;
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    .navbar-header {
        line-height: 0;
    }
    .navbar-brand {
        padding: 0px;
        max-width: 100px;
        height: 80px;
        display: inline-block;
        svg {
            height: 100%;
            width: 100%;
        }
    }
    .navbar {
        padding: 0px;
        margin: 0px;
        .navbar-nav {
            > li {
                margin: 0 20px;
                > a {
                    padding: 0px;
                    color: $color-white;
                    font-family: $font-family;
                    font-weight: $font-weight-regular;
                    font-size: 16px;
                    text-transform: $text-capitalize;
                    transition: all 0.3s ease-in-out;
                    display: inline-block;
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
        }
    }
    .navbar .navbar-nav > li.current-menu-item > a, 
    .navbar .navbar-nav > li.current-menu-parent > a {
        color: $theme-color;
    }
    .signInUp-wrap {
        li {
            list-style: none;
            display: inline-block;
            margin-right: 5px;
            a {
                min-width: 102px;
            }
        }
    }
}