/*---------------------------------------------------------------
4.0 Main 
---------------------------------------------------------------*/

svg.hidden {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.order {
    order: 1;
}

.section {
    padding: 70px 0px;
    @include breakpoint(x-normal) {
       padding: 50px 0px;
    }
    h3 {
        text-transform: $text-uppercase;
        margin-bottom: 20px;
        color: $color-black;
    }
    p {
        color: $color-black;
    }
}

.read-more {
    min-width: 140px;
}

.top_space {
    height: 0;
    position: relative;
    top: -130px;
    vertical-align: top;
}

iframe {
    height: 100%;
    width: 100%;
}

.pad-tb-5 {
    padding: 50px 0px;
}

.pad-tb-7 {
    padding: 70px 0px;
    @include breakpoint(x-normal) {
       padding: 50px 0px;
    }
}

article {
    margin-bottom: 25px;
    &:last-child {
        margin-bottom: 0px;
    }
    &.sec-style {
        margin-bottom: 25px;
        h5 {
            color: $color-black;
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}

video {
    width: 100%;
    object-fit: unset;
}
 
ul.list-section {
    li {
        list-style: none;
        font-size: em(16);
        color: #979aa1;
        margin-bottom: 15px;
        padding-left: 15px;
        position: relative;
        &:before {
            content: "\f111";
            position: absolute;
            left: 0;
            top: 3px;
            font-family: FontAwesome;
            font-size: 10px;
            color: $theme-color;
        }
        &:last-child {
            margin-bottom: 0px;
        }
    }
}

.relative {
    position: relative;
}

/*----- Button Css -----*/

.theme-btn,
.grey-btn {
    font-size: 14px;
    font-family: $font-family;
    font-weight: $font-weight-semibold;
    border-radius: 50px;
    line-height: 2.8;
    text-align: center;
    padding-top: 2px;
    background-repeat: no-repeat;
    background-size: 100% 200%;
    display: inline-block;
    padding: 2px 18px 0;
    text-transform: capitalize;
    @include breakpoint(x-normal) {
        font-size: 12px;
    }
    &:hover {
        background-position: 0 -100%;
    }
}


.theme-btn {
    color: $color-white;
    background-image: linear-gradient(to bottom, #f5804e 0%, #f4615c 50%, #000000 100%);
    border: 1px solid $theme-color;
    &:hover {
        color: $theme-color;
    }
}

.grey-btn {
    color: #1b2034;
    background-image: linear-gradient(to bottom, #dcdcdc 10%, #b6b6b6 50%, #f57c50 50%, #f45b5e 100%);
    border: 1px solid #dcdcdc;
    &:hover {
        color: $theme-color;
        border-color: $theme-color;
    }
}


/*-------------------------------------------------------------------
- MAIN SECTIONS
-------------------------------------------------------------------*/

/*----- Managing Section ------*/

.managing-sec-wrap {
    padding: 120px 0px;
    figure {
        margin-bottom: 0px;
        padding: 40px 0px 0px 30px;
    }
    .content-sec {
        .read-more {
            margin-top: 80px;
        }
    }
}

/*----- How Its Work -----*/

.how-work-wrap {
    @include background(center, cover);
    background-attachment: fixed;
    text-align: center;
    position: relative;
    z-index: 1;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-image: linear-gradient(to right, rgba(1,23,113,0.9) 0%, rgba(112,39,77,0.9) 60%);
        background-repeat: no-repeat;
        background-size: 170% 200%;
        z-index: -1;
    }
    h3 {
        color: $color-white;
        margin-bottom: 65px;
    }
    .border-sec {
        border-left: 1px solid #5f4876;
        border-right: 1px solid #5f4876;
    }
    .grid-item {
        transition: all 0.5s ease-in-out 0s;
        padding: 0 30px;
        figure {
            border: 1px solid $theme-color;
            display: inline-block;
            height: 60px;
            width: 60px;
            border-radius: 100%;
            position: relative;
            svg {
                height: 30px;
                width: 30px;
                fill: $theme-color;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
                text-align: center;
                margin: 0 auto;
            }
        }
        h4 {
            color: #eeecec;
            margin-bottom: 3px;
        }
        p {
            color: #d2d2d2;
            margin-bottom: 0px;
        }
        &:hover {
            figure {
                background: $theme-color;
                svg {
                    fill: $color-white;
                }
            }
            h4 {
                color: $theme-color;
            }
        }
    }
}

/*----- Casting Hub Section -----*/

.casting-hub-wrap {
    h3 {
        text-align: center;
        margin-bottom: 60px;
    }
    .tab-section {
        .nav-tabs {
            margin-bottom: 30px;
            border: none;
            position: relative;
            &:after {
                content: "";
                display: block;
                height: 1px;
                width: 293px;
                background: #f0f0f0;
            }
            a {
                font-size: 24px;
                color: $color-black;
                font-weight: $font-weight-semibold;
                display: inline-block;
                padding: 1px 10px 0px 8px;
                &.active,
                &:hover {
                    background: #f0f0f0;
                    border-color: #f0f0f0;
                    color: $theme-color;
                    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.1);
                }
                &:first-child {
                    margin-right: 10px;
                }
            }
        }
    }
    .tab-content {
        ul {
            margin-bottom: 30px;
            li {
                color: #474a5d;
                font-size: 20px;
                font-family: $font-family;
                font-weight: $font-weight-regular;
                list-style: none;
                margin-bottom: 10px;
                position: relative;
                padding-left: 25px;
                &:last-child {
                    margin-bottom: 0px;
                }
                figure {
                    position: absolute;
                    left: 0;
                    top: -2px;
                }
            }
        }
        a {
            &.read-more {
                margin-top: 50px;
            }
        }
    }
}

/*----- Slider Section -----*/

.slider-sec-wrap {
    text-align: center;
    h4 {
        color: $theme-color;
        margin-bottom: 30px;
    }
    p {
        font-size: 20px;
        color: #474a5d;
        margin-bottom: 8px;
        line-height: 1;
    }
    cite {
        font-size: 16px;
        color: #979aa1;
        font-family: $font-family;
        font-weight: $font-weight-regular;
        font-style: normal;
    }
    ul {
        margin-top: 40px;
        li {
            list-style: none;
            display: inline-block;
            vertical-align: middle;
            margin: 0 15px;
            text-align: center;
            margin: 0 auto;
        }
    }
}

/*----- Slick Dots -----*/

.slick-dots {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    li {
        display: inline-block;
        margin: 0 4px;
        button {
            border-radius: 100%;
            background: $color-white;
            height: 8px;
            min-width: 8px;
            margin: 0 3px;
            padding: 0;
            text-indent: -999999px;
            vertical-align: middle;
            border-color: $color-grey;
            box-shadow: none;
            &:hover {
                background:$color-grey;
                border-color: $color-grey;
            }
        }
        &.slick-active {
            button {
                background: $color-grey;
                border-color: $color-grey;
            }
        }
    }
}

/*----- Slider Accordian -----*/

.accordian-slider {
    .flex-container {
      height: 100vh;
      width: 100%;
      display: -webkit-flex;
      display: flex;
      overflow: hidden;
    }
    .flex-title {
        position: relative;
        margin: 0 auto;
        text-align: center;
        transform: rotate(90deg);
        top: 0% !important;
        transition: all 500ms ease;
        h3 {
            color: $color-white;
            text-transform: $text-uppercase;
            @include breakpoint(x-normal) {
               font-size: 20px;
            }
        }
    }
    .flex-about {
        display: none !important;
        color: #f1f1f1;
        position: relative;
        width: 70%;
        padding: 0px;
        top: 20;
        line-height: 1.3;
        margin: 0 auto;
        text-align: left;
        transform: rotate(0deg);
        text-align: center;
        transition: all 500ms ease;
        h4 {
            font-size: 20px;
            margin-bottom: 30px;
        }
        cite {
            font-size: 16px;
            font-style: normal;
            font-family: $font-family;
            font-weight: $font-weight-regular;
        }
    }
    .flex-slide {
        -webkit-flex: 1;
        /* Safari 6.1+ */
        -ms-flex: 1;
        /* IE 10 */
        flex: 1;
        cursor: pointer;
        transition: all 500ms ease;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &:hover {
            -webkit-flex-grow: 3;
            flex-grow: 3;
            .flex-about {
                
            display: block !important;
            }
        }
    }
    .slide1 {
        height: 100vh;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/demo.jpg);
        background-size: cover;
        background-position: center center;
    }
    .slide2 {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/demo1.jpg);
      background-size: cover;
      background-position: center center;
    }
    .slide3 {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/demo2.jpg);
      background-size: cover;
      background-position: center center;
    }
    .slide4 {
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/demo3.jpg);;
      background-size: cover;
      background-position: center center;
    }
    .flex-about-home {
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }
    .flex-title {
        transform: rotate(0deg) !important;
    }
    .flex-about {
        padding: 0%;
        border: 0px solid #f1f1f1;
    }
    .flex-slide {
        overflow: auto;
        overflow-x: hidden;
    }
    .flex-slide p {
        font-size: 2em;
    }
    .flex-slide ul li {
        font-size: 2em;
    }
    .home {
        -moz-animation: aboutFlexSlide;
        -moz-animation-duration: 3s;
        -moz-animation-iteration-count: 1;
        -moz-animation-delay: 0s;
        -webkit-animation: aboutFlexSlide;
        -webkit-animation-duration: 3s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-delay: 0s;
        animation: aboutFlexSlide;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-delay: 0s;
    }
    .flex-title-home {
        transform: rotate(90deg);
        top: 15%;
        -moz-animation: homeFlextitle;
        -moz-animation-duration: 3s;
        -moz-animation-iteration-count: 1;
        -moz-animation-delay: 0s;
        -webkit-animation: homeFlextitle;
        -webkit-animation-duration: 3s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-delay: 0s;
        animation: homeFlextitle;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-delay: 0s;
    }
    .flex-about-home {
        -moz-animation: flexAboutHome;
        -moz-animation-duration: 3s;
        -moz-animation-iteration-count: 1;
        -moz-animation-delay: 0s;
        -webkit-animation: flexAboutHome;
        -webkit-animation-duration: 3s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-delay: 0s;
        animation: flexAboutHome;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-delay: 0s;
    }
}

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  background: #222;
  height: 100%;
  width: 100%;
  z-index: 11;
  margin-top: 0;
  color: #fff;
  font-size: 1em;
}

.cube1, .cube2 {
  background-color: #fff;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}


@keyframes aboutFlexSlide {
  0% {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
  50% {
    -webkit-flex-grow: 3;
    flex-grow: 3;
  }
  100% {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
}

@keyframes homeFlextitle {
  0% {
    transform: rotate(90deg);
    top: 15%;
  }
  50% {
    transform: rotate(0deg);
    top: 15%;
  }
  100% {
    transform: rotate(90deg);
    top: 15%;
  }
}

@keyframes flexAboutHome {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

/*----- Faq Section -----*/

.faq-tab-wrap {
    .card{
        border: none;
        margin-bottom: 12px;
        border-radius: 0px;
        .card-header {
            padding: 0px;
            border: none;
            border-radius: 0px;
            background: transparent;
            h5 {
                margin-bottom: 0px;
                a {
                    color: $color-black;
                    display: block;
                    padding: 15px 60px 15px 25px;
                    background: #f9f9f9;
                    position: relative;
                    font-size: 20px;
                    &:hover {
                        color: $theme-color;
                    }
                    span {
                        position: absolute;
                        right: 20px;
                        top: 50%;
                        transform: translateY(-50%);
                        background-image: linear-gradient(to bottom, #f5804e 0%, #f4615c 50%, #000000 100%);
                        background-repeat: no-repeat;
                        background-size: 100% 200%;
                        height: 30px;
                        width: 30px;
                        border-radius: 100%;
                        margin-bottom: 0px;
                    }
                }
            }
            .card-link {
                border:1px solid #e7e7e7;
                border-bottom: none;
                position: relative;
                i {
                    position: absolute;
                    top: 52%;
                    transform: translateY(-50%);
                    left: 0;
                    right: 0;
                    text-align: center;
                    &:before {
                        content: "\f068";
                        font-family: FontAwesome;
                        color: $color-white;
                        font-style: normal;
                        font-size: 15px;

                    }
                }
                &.collapsed {
                    border: 1px solid transparent;
                    border-bottom: none;
                    i {
                        &:before {
                            content: "\f067";
                            
                        }
                    }
                }
            }
        }
        .collapse,
        .collapsing {
            border: 1px solid #e7e7e7;
            border-top: none;
            transition: all 0.5s ease-in-out 0s;
        }
        .panel-body {
            padding: 20px 25px;
            p {
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }
}

/*----- Blog Grid Section -----*/

.blog-grid-sec {
    .grid-item {
        border: 1px solid $border-color;
        figure {
            margin-bottom: 0px;
            a {
                display: inline-block;
                height: 320px;
                width: 100%;
                @include background(center, cover);
            }
        }
        .content-sec {
            padding: 0px 30px 30px;
            .meta-info {
                margin-bottom: 10px;
                .date {
                    display: inline-block;
                    vertical-align: middle;
                    color: $color-white;
                    background-image: linear-gradient(to bottom, #f5804e 0%, #f4615c 50%, #000000 100%);
                    background-repeat: no-repeat;
                    background-size: 100% 200%;
                    height: 85px;
                    width: 85px;
                    position: relative;
                    margin-right: 15px;
                    margin-top: -50px;
                    small {
                        line-height: 1;
                        font-size: 30px;
                        display: inline-block;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        right: 0;
                        text-align: center;
                        text-transform: $text-capitalize;
                    }
                }
                ul {
                    display: inline-block;
                    vertical-align: middle;
                    li {
                        display: inline-block;
                        list-style: none;
                        font-size: em(14);
                        color: #979aa1;
                        text-transform: $text-capitalize;
                        vertical-align: middle;
                        &:before {
                            content: "";
                            height: 13px;
                            width: 2px;
                            background: #979aa1;
                            display: inline-block;
                            margin: -6px 4px 0 1px;
                            vertical-align: middle;
                        }
                        &:first-child {
                            &:before {
                                display: none;
                            }
                        }
                        a {
                           color: #979aa1;
                            &:hover {
                                color: $theme-color;
                            }
                        }
                    }
                }
            }
            h5 a,
             h5 {
                color: $color-black;
            }
            h5 {
                a {
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
            .readmore {
                font-size: 14px;
                color: $theme-color;
                font-weight: $font-weight-semibold;
                line-height: 0;
                position: relative;
                &:after {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: #ff141f;
                    content: '';
                    transition: transform 0.3s, -webkit-transform 0.3s;
                    transition: transform 0.3s;
                    transform: scale(0.85);
                }
                &:hover {
                    color: #000000;
                    &:after {
                        -webkit-transform: scale(1);
                        -moz-transform: scale(1);
                        -ms-transform: scale(1);
                        transform: scale(1);
                        background: #000000;
                    }
                }
            }
        }
    }
}

.blog-single-wrap {
    .grid-item {
        p {
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
    .blog-grid-sec {
        margin-bottom: 40px;
    }
}

/*----- Comments -----*/

.comment-section {
    margin-bottom: 50px;
    h5 {
        font-size: 20px;
        color: #474a5d;
        font-weight: $font-weight-semibold;
        border-bottom: 1px solid $border-color;
        padding-bottom: 13px;
        margin-bottom: 22px;
    }
    ul {
        li {
            list-style: none;
            position: relative;
            border-bottom: 1px solid $border-color;
            padding-bottom: 40px;
            margin-bottom: 25px;
            figure {
                position: absolute;
                left: 0;
                top: 0;
                height: 100px;
                width: 100px;
                margin-bottom: 0px;
                background-size: cover;
                background-position: center;
                border-radius: 6px;
                .reply {
                    line-height: 2;
                    text-align: center;
                    border-radius: 50px;
                    background-image: linear-gradient(to bottom, #f57c50 10%, #f45b5e 50%, #dcdcdc 50%, #b6b6b6 100%);
                    background-repeat: no-repeat;
                    background-size: 100% 200%;
                    display: inline-block;
                    color: $color-white;
                    font-size: em(14);
                    font-family: $font-family;
                    font-weight: $font-weight-regular;
                    padding: 2px 15px 0;
                    position: absolute;
                    left: 15px;
                    right: 15px;
                    margin: 0 auto;
                    bottom: -13px;
                    @include breakpoint(x-normal) {
                        font-size: 12px;
                    }
                    &:hover,
                    &:focus {
                        background-position: 0 100%;
                        color: #1b2034;
                    }
                }
            }
            .content-sec {
                padding-left: 125px;
                h6 {
                    color: #474a5d;
                    font-weight: $font-weight-regular;
                }
                p {
                    font-size: 14px;
                    color: #979aa1;
                    line-height: 1.6;
                }
                .title {
                    h6, cite {
                        display: inline-block;
                    }
                    cite {
                        font-style: normal;
                        font-size: 14px;
                        font-family: $font-family;
                        font-weight: $font-weight-regular;
                        color: $theme-color;
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}

/*----- Leave Comment Secion -----*/

.leave-comment-sec{
    h5 {
        font-size: 20px;
        color: #474a5d;
        font-weight: $font-weight-semibold;
        margin-bottom: 25px;
    }
    textarea {
        height: 110px;
    }
}

/*----- Guidance Section -----*/

.guides-wrap {
    .grid-item {
        padding: 60px 0px;
        &:nth-child(even) {
            background: #f7f7f7;
        }
        h4 {
            color: $color-black;
            margin-bottom: 20px;
        }
        li {
            color: $color-black;
        }
        .view-video {
            position: relative;
            transition: all 0.5s ease-in-out 0s;
            display: inline-block;
            height: 360px;
            video {
                height: 360px;
            }
            &:before {
                content: "";
                background: rgba(0, 0, 0, 0.5);
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
            .play-icon {
                height: 40px;
                width: 40px;
                fill: $color-white;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
                text-align: center;
                margin: 0 auto;
            }
            &:hover {
                .play-icon {
                    svg {
                        fill: $theme-color;
                    }
                }
            }
        }
    }
}

/*---------- Sidebar ----------*/

.sidebar {
    border: 1px solid $border-color;
    padding: 15px 20px;
    .widget {
        margin-bottom: 2em;
        ul {
            list-style: none;
        }
        .widget-title {
            text-transform: $text-capitalize;
            font-family: $font-family;
            color: #474a5d;
            font-weight: $font-weight-semibold;
            margin-bottom: 8px;
        }
        &.widget_categories {
            .cat-item {
                border-bottom: 1px solid #e9e9e9;
                a {
                    display: block;
                    padding: 7px 0px;
                    text-transform: capitalize;
                    transition: padding 0.2s linear 0s;
                    letter-spacing: 0px;
                    font-size: em(16);
                    color: #979aa1;
                    &:hover {
                        color: $theme-color;
                    }
                }
                &:last-child {
                    border: none;
                }
            }
        }
    }
    .widget_search {
        .widget-title {
            margin-bottom: 20px;
        }
        #s {
            border-color: #f5f5f5;
            border-radius: 50px;
            box-shadow: none;
            height: 42px;
            margin-bottom: 0;
            padding: 10px 50px 10px 20px;
            background: #f5f5f5;
        }
        #searchsubmit {
            position: absolute;
            right: 18px;
            top: 0;
            bottom: 0;
            font-family: FontAwesome;
            background: none;
            border: none;
            font-size: 16px;
            color: #b8b8b8;
            transition: all 0.3s ease-in-out 0s;
            min-width: auto;
            height: 42px;
            padding: 0px;
            &:hover {
                color: $theme-color;
            }
        }
        form {
            .form-group {
                margin-bottom: 0;
            }
        }
    }
    .form-control::-moz-placeholder {
        color:#c2c1c1;
        font-size: 14px;
        font-weight: $font-weight-regular;
    }
    .widget_popularpost {
        overflow: hidden;
        .widget-title { 
            margin-bottom: 15px;
        }
        .recent-post-grid {
            border-bottom: 1px solid $border-color;
            margin-bottom: 20px;
            padding-bottom: 20px;
            height: 115px;
            position: relative;
            &:last-child {
                border-bottom: none;
                margin-bottom: 0px;
                padding-bottom: 0px;
                height: auto;
            }
            figure {
                margin-bottom: 0px;
            }
            .featured-thumb {
                height: 94px;
                width: 94px;
                @include background(center center, cover);
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                margin-right: 15px;
            }
            .content-sec {
                padding-left: 115px;
                .meta-info {
                    margin-bottom: 0px;
                    span {
                        font-size: 12px;
                        font-family: $font-opensans;
                        color: #979aa1;
                        font-weight: $font-weight-semibold;
                    }
                }
                h6 {
                    margin-bottom: 0px;
                    a {
                        color: #646874;
                        font-size: em(14);
                        font-weight: $font-weight-regular;
                        &:hover {
                            color: $theme-color;
                        }
                    }
                }
            }
        }
    }
}

/*----- Pagination Section -----*/

.pagination-wrap {
    text-align: center;
    margin: 50px auto 0;
    .pagination-sec {
        max-width: 540px;
        margin: 0 auto;
        position: relative;
        &:before {
            background-image: url("../images/box-shadow.png");
            @include background(center, cover);
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 20px;
            bottom: 20px;
            height: 60px;
        }
    }
    ul {
        background-image: linear-gradient(to right, #ffffff, #f7f7f7 400px, #ffffff 800px);
        background-size: 800px 100%;
        background-position: 50% 100%;
        background-repeat: no-repeat;
        display: block;
        padding: 20px;
        position: relative;
        li {
            list-style: none;
            display: inline-block;
            margin: 0 5px;
            vertical-align: middle;
            transition: inherit;
            &.item {
                height: 25px;
                width: 25px;
                background: transparent;
                border-radius: 100%;
                position: relative;
                a {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &.active,
                &:hover {
                    background-image: linear-gradient(to bottom, #f5804e 0%, #f4615c 50%);
                    background-repeat: no-repeat;
                    background-size: 100% 200%;
                    a {
                        color: $color-white;
                    }
                }
            }
            &.prev {
                left: 10px;
                position: absolute;
                i {
                    margin-right: 5px;
                    font-size: 15px;
                }
            }
            &.next {
                right: 10px;        
                position: absolute;
                i {
                    margin-left: 5px;
                    font-size: 15px;
                }
            }
            a {
                font-size: 12px;
                color: #202020;
                font-family: $font-family;
                font-weight: $font-weight-regular;
                letter-spacing: 0.2em;
                display: inline-block;
            }
            &:hover {
                a {
                    color: $theme-color;
                }
            }
        }
    }
}

/*----- Contact Section -----*/

.contactus-wrap {
    .map-sec-wrap {
        .map-sec {
            height: 545px;
            width: 530px;
            float: right;
            position: relative;
            border-radius: 6px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            margin-right: -10px;
            &:before {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                border: 1px solid #ececec;
                left: -19px;
                top: 20px;
                bottom: 0;
                z-index: -1;
            }
        }
    }
    .contact-form {
        background: $color-white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        padding: 50px 60px;
        border-radius: 6px;
        height: 560px;
        h3 {
            color: #474a5d;
            text-transform: $text-uppercase;
            font-family: $font-family;
            margin-bottom: 30px;
        }
        form {
            .form-control {
                border-radius: 0px;
                box-shadow: none;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 1px solid $border-color;
                &:focus {
                    border-top-color: none;
                    border-left-color: none;
                    border-right-color: none;
                    border-bottom-color: $color-black;
                }
            }
            textarea {
                height: 150px;
            }
            .form-group {
                position: relative;
                margin-bottom: 1.5rem;
            }
            .form-control + label {
                position: absolute;
                left: 20px;
                top: 1.15em;
                transition: transform 200ms ease;
                pointer-events: none;
                color: #a6a6a6;
                font-size: 12px;
                font-family: $font-family;
                font-weight: $font-weight-regular;
                text-transform: $text-uppercase;
            }
            .form-control:focus + label,
            .form-control + label.freeze {
                font-size: 0.7em;
                font-weight: 400;
                transform: translateY(-3em);
                top: 2.20em;
            }
             button {
                min-width: 175px;
                line-height: 3;
                margin-top: 27px;
                position: relative;
                i {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 30px;
                    transition: all 0.3s ease-in-out 0s;
                }
            }
        }
    }
}

/*----- Self Tape Service -----*/

.selftapeservice-wrap {
    .book-now-sec {
        text-align: center;
        padding-top: 70px;
        p {
            color: #474a5d;
            margin-bottom: 30px;
        }
    }
    .book-service-sec {
        h3 {
            color: #474a5d;
            text-transform: $text-uppercase;
            font-family: $font-family;
            margin-bottom: 30px;
        }
        .book-selftape {
            background: $color-white;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            padding: 40px 60px;
            border-radius: 6px;
            height: 560px;
            form {
                .form-control {
                    border-radius: 0px;
                    box-shadow: none;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: 1px solid $border-color;
                    &:focus {
                        border-top-color: none;
                        border-left-color: none;
                        border-right-color: none;
                        border-bottom-color: $color-black;
                    }
                }
                textarea {
                    height: 150px;
                }
                .form-group {
                    position: relative;
                    margin-bottom: 1.5rem;
                }
                .form-control + label {
                    position: absolute;
                    left: 20px;
                    top: 1.15em;
                    transition: transform 200ms ease;
                    pointer-events: none;
                    color: #a6a6a6;
                    font-size: 12px;
                    font-family: $font-family;
                    font-weight: $font-weight-regular;
                    text-transform: $text-uppercase;
                }
                .form-control:focus + label,
                .form-control + label.freeze {
                    font-size: 0.7em;
                    font-weight: 400;
                    transform: translateY(-3em);
                    top: 2.20em;
                }
                 button {
                    min-width: 175px;
                    line-height: 3;
                    margin-top: 27px;
                    position: relative;
                    i {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 30px;
                        transition: all 0.3s ease-in-out 0s;
                    }
                }
            }
        }
        .our-service-wrap {
            .our-service {
                height: 545px;
                width: 532px;
                float: left;
                position: relative;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
                background: #f5f5f5;
                padding: 40px 60px;
                margin-left: -12px;
                &:after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    border: 1px solid #ececec;
                    right: -19px;
                    top: 20px;
                    bottom: 0;
                    z-index: -1;
                }
                iframe {
                    height: 100%;
                    width: 100%;
                }
                ul {
                    li {
                        list-style: none;
                        position: relative;
                        padding-left: 90px;
                        margin-bottom: 40px;
                        figure {
                            height: 70px;
                            width: 70px;
                            border: 1px solid $theme-color;
                            border-radius: 100%;
                            position: absolute;
                            left: 0;
                            top: 0;
                            transition: all 0.5s ease-in-out 0s;
                            svg {
                                height: 40px;
                                width: 40px;
                                position: absolute;
                                top: 50%;
                                left: 0;
                                right: 0;
                                text-align: center;
                                transform: translateY(-50%);
                                margin: 0 auto;
                                fill: $theme-color;
                            }
                            &:hover {
                                background: $theme-color;
                                svg {
                                    fill: $color-white;
                                }
                            }
                        }
                        h4 {
                            font-size: 22px;
                            color: #646874;
                            margin-bottom: 2px;
                        }
                        p {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
    .look-sec-wrap{
        h4 {
            margin-bottom: 20px;
            color: $color-black;
        }
        p {
            color: #474a5d;
            margin-bottom: 30px;
        }
        a {
            margin-top: 30px;
        }
        figure {
            video {
                height: 350px;
            }
        }
    }
    .book-now {
        min-width: 160px;
        line-height: 2.8;
    }
}

/*----- Testimonial Section -----*/

.testimonial-sec-wrap {
    .title-sec {
        text-align: center;
        margin-bottom: 60px;
        h3 {
            margin-bottom: 0px;
        }
        p {
            color: #979aa1;
        }
    }
    .testimonial-slider {
        blockquote {
            font-size: 17px;
            color: #979aa1;
            font-family: $font-family;
            font-weight: $font-weight-regular;
            margin-bottom: 0px;
            display: inline-block;
            vertical-align: middle;
            line-height: 1.8;
            @include breakpoint(x-normal) {
                font-size: 16px;
            }
            svg {
                height: 25px;
                width: 25px;
                display: inline-block;
                vertical-align: top;
                fill: #dadada;
                margin-right: 10px;
            }
        }
        .quote-sec {
            padding-bottom: 45px;
            margin-bottom: 20px;
            border-bottom: 1px solid $border-color;
            position: relative;
            &:after, 
            &:before {
                top: 100%;
                left: 16%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            &:after {
                border-color: rgba(136, 183, 213, 0);
                border-top-color: $color-white;
                border-width: 5px;
                margin-left: -5px;
            }
            &:before {
                border-color: rgba(194, 225, 245, 0);
                border-top-color: $border-color;
                border-width: 7px;
                margin-left: -7px;
            }
        }
        article {
            position: relative;
            padding-left: 60px;
            margin-left: 30px;
            display: inline-block;
            vertical-align: middle;
                figure {
                position: absolute;
                top: 0;
                left: 0;
                height: 48px;
                width: 48px;
                border-radius: 100%;
                @include background(center, cover);
                margin-bottom: 0px;
            }
            h5 {
                font-size: 18px;
                color: $color-black;
                margin-bottom: 0px;
            }
            cite {
                font-style: normal;
                font-size: 18px;
                font-family: $font-family;
                font-weight: $font-weight-regular;
                color: $color-grey;
            }
        }
    }
    .owl-dots {
        margin: 50px auto 0;
        text-align: center;
        width: 100%;
        button {
            border-radius: 100%;
            background: $color-white;
            height: 8px;
            min-width: 8px;
            margin: 0;
            padding: 0;
            text-indent: -999999px;
            vertical-align: middle;
            border-color: $color-grey;
            box-shadow: none;
            margin: 0 4px;
            &:hover {
                background:$color-grey;
                border-color: $color-grey;
            }
            &.active {
                background: $color-grey;
                border-color: $color-grey;
            }
        }
    }
}

/*----- Modal Form ------*/

.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 999;
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        margin-right: -4px;
        vertical-align: middle;
    }
    .popup-inner-elem {
        padding: 40px 50px;
        border-radius: 5px;
        position: relative;
        @include breakpoint(x-normal) {
            padding: 25px 40px;
        }
        button {
            margin: 0 auto;
            display: block;
            margin-top: 20px;
        }
        .listing-wrap {
            text-align: center;
            margin: 0 auto 40px;
            @include breakpoint(x-normal) {
                margin: 0 auto 18px;
            }
            li {
                color:  #979aa1;
                font-size: 28px;
                font-family: $font-family;
                font-weight: $font-weight-bold;
                text-transform: $text-uppercase;
                margin: 0 20px;
                @include breakpoint(x-normal) {
                    font-size: 22px;
                }
                &.active {
                    font-size: 30px;
                    color: #1b2034;
                    @include breakpoint(x-normal) {
                        font-size: 26px;
                    }
                }
            }
            h5 {
                margin-bottom: 7px;
                text-transform: capitalize;
            }
            .pricing {
                span {
                    font-size: 18px;
                    font-weight: 700;
                    color: $theme-color;
                }
            }
        }
        .popup-close {
            position: absolute;
            right: -12px;
            top: -12px;
            padding: 0;
            min-width: auto;
            background: #494949;
            height: 30px;
            width: 30px;
            border-radius: 100%;
            opacity: 1;
            z-index: 99;
            i {
                font-size: 20px;
                display: inline-block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
                z-index: 99;
                text-align: center;
                color: $color-white;
            }
            &:hover {
                background: $theme-color;
                transform: rotate(360deg);
                i {
                    color: $color-white;
                }
            }
        }
        form {
            .form-control {
                border-radius: 0px;
                box-shadow: none;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: 1px solid $border-color;
                &:focus {
                    border-top-color: none;
                    border-left-color: none;
                    border-right-color: none;
                    border-bottom-color: $color-black;
                }
            }
            textarea {
                height: 150px;
            }
            .form-group {
                position: relative;
                margin-bottom: 1.5rem;
            }
            .form-control + label {
                position: absolute;
                left: 20px;
                top: 1.15em;
                transition: transform 200ms ease;
                pointer-events: none;
                color: #a6a6a6;
                font-size: 12px;
                font-family: $font-family;
                font-weight: $font-weight-regular;
                text-transform: $text-uppercase;
            }
            .form-control:focus + label,
            .form-control + label.freeze {
                font-size: 0.7em;
                font-weight: 400;
                transform: translateY(-3em);
                top: 2.20em;
            }
             button {
                min-width: 175px;
                line-height: 3;
                margin-top: 27px;
                position: relative;
                font-size: 14px;
                @include breakpoint(x-normal) {
                    min-width: 155px;
                    line-height: 2.5;
                    font-size: 13px;
                }
                i {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 30px;
                    transition: all 0.3s ease-in-out 0s;
                }
            }
            .form-check {
                text-align: left;
                margin-left: 20px;
                margin-top: -12px;
                label {
                    color: #646874;
                    font-size: 14px;
                    font-family: $font-family;
                    font-weight: $font-weight-regular;
                }
                input {
                    margin-top: 3px;
                }
            }
        }
        .forgot-password {
            margin-top: 25px;
            font-size: 14px;
            color: #1b2034; 
            display: inline-block;
            @include breakpoint(x-normal) {
                margin-top: 20px;
            }
            &:hover {
                color: $theme-color;
            }
        }
        .social-share {
            margin-top: 25px;
            @include breakpoint(x-normal) {
                margin-top: 20px;
            }
            li {
                list-style: none;
                display: inline-block;
                margin: 0 10px;
                a {
                    display: inline-block;
                    font-size: 16px;
                    min-width: 120px;
                    line-height: 2.4;
                    border: 2px solid;
                    border-radius: 50px;
                    @include breakpoint(x-normal) {
                        font-size: 14px;
                    }
                }
                &.google {
                    a {
                        color: #dc4e41;
                        border-color: #dc4e41;
                        &:hover {
                            background: #dc4e41;
                            color: $color-white;
                        }
                    }
                }
                &.facebook {
                    a {
                        color: #3b5999;
                        border-color: #3b5999;
                        &:hover {
                            background: #3b5999;
                            color: $color-white;
                        }
                    }
                }
            }
        }
    }
    .popup-inner {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        max-width: 560px;
        width: 90%;
        background: #fff;
        border-radius: 5px;
    }
    .account-wrap {
        padding: 40px 0px;
        background: #474a5d;
        border-radius: 0px 0px 5px 5px;
        span, a {
            font-size: 16px;
            color: #cbcbcb;
        }
        a {
            position: relative;
            display: inline-block;
            &:after {
                content: "";
                background: #cbcbcb;
                width: 100%;
                height: 2px;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 2px;
            }
            &:hover {
                color: $theme-color;
            }
        }
    }
    cite {
        &.social-title {
            font-size: 14px;
            color: #1b2034;
            font-family: $font-family;
            font-weight: $font-weight-regular;
            font-style: normal;
            margin-top: 30px;
            display: inline-block;
            @include breakpoint(x-normal) {
                margin-top: 20px;
            }
        }
    }
    .radio-sec {
        margin-bottom: 25px;
        display: flex;
        justify-content: space-around;
        .title {
            text-align: left;
            font-size: 12px;
            margin-top: 3px;
            color: #474a5d;
            font-family: $font-family;
            font-weight: $font-weight-regular;
            margin-bottom: 0px;
            text-transform: $text-uppercase;
        }
        .list {
            text-align: right;
        }
        .radio {
            margin-right: 20px;
            margin-bottom: 0px;
            display: inline-block;
            &:last-child {
                margin-right: 0px;
            }
            label {
                margin-bottom: 0px;
                
            }
        }
        [type="radio"]:checked,
        [type="radio"]:not(:checked) {
            position: absolute;
            left: -9999px;
        }
        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label
        {
            position: relative;
            padding-left: 28px;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            font-family: $font-family;
            vertical-align: bottom;
            font-size: 16px;
            font-weight: $font-weight-regular;
            color: #1b2034;
        }
        [type="radio"]:checked + label:before,
        [type="radio"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 14px;
            height: 14px;
            border: 2px solid $theme-color;
            border-radius: 100%;
            background: #fff;
        }
        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after {
            content: '';
            width: 8px;
            height: 8px;
            background: $theme-color;
            position: absolute;
            top: 3px;
            left: 3px;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        [type="radio"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        [type="radio"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
}

/*----- Pricing Section -----*/

.pricing-section-wrap {
    @include background(center, cover);
    .pricing-content {
        text-align: center;
        margin: 0 auto 80px;
        padding: 0 15%;
        p {
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
    .pricing-grid {
        padding: 0 3%;
        .grid-item {
            text-align: center;
            background: $color-white;
            border: 1px solid #ccccd4;
            margin: 0 3%;
            .grid-title {
                background: #eaeaea;
                padding: 28px 10px 23px;
                h4 {
                    margin-bottom: 0px;
                    font-size: 26px;
                    color: $theme-color;
                    text-transform: $text-uppercase;
                    line-height: 1;
                }
            }
            .grid-price {
                padding: 30px 20px;
                .price {
                    display: block;
                    height: 150px;
                    width: 150px;
                    border-radius: 100%;
                    background: #eaeaea;
                    text-align: center;
                    margin: 0 auto 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    sub {
                        font-size: 30px;
                        color: #979aa1;
                        position: relative;
                        i {
                            position: absolute;
                            top: -15px;
                            left: -17px;
                        }
                        span {
                            font-size: 50px;
                            color: #474a5d;
                            font-family: $font-family;
                            font-weight: $font-weight-regular;
                            line-height: 1;
                        }
                    }
                }
                h5 {
                    margin-bottom: 0px;
                    font-size: 20px;
                    color: #474a5d;
                }
                ul {
                    margin: 15px 0px 0px 23%;
                    li {
                        list-style: none;
                        font-size: 16px;
                        color: #646874;
                        font-family: $font-family;
                        font-weight: $font-weight-regular;
                        text-align: left;
                        i {
                            color: $theme-color;
                            margin-right: 1px;
                        }
                    }
                }
                .getstarted {
                    min-width: 140px;
                    margin-top: 15px;
                }
            }
            .price-content {
                ul {
                    li {
                        list-style: none;
                        font-size: 16px;
                        color: #979aa1;
                        font-family: $font-family;
                        font-weight: $font-weight-regular;
                        border-top: 1px solid #eeeeee;
                        padding: 20px 12px;
                        &:last-child {
                            margin-bottom: 50px;
                        }
                    }
                }
            }
        }
    }
    .pay-us-sec {
        .grid-item {
            box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.3);
            margin-top: -30px;
            .grid-title {
                background-image: linear-gradient(to right, #572551 10%, #111a67 55%);
                background-repeat: no-repeat;
                background-size: 100% 200%;
                h4 {
                    color: $color-white;
                }
            }
            .price {
                span {
                    font-size: 42px;
                    color: $theme-color;
                    text-transform: $text-uppercase;
                    font-weight: $font-weight-semibold;
                    line-height: 1;
                    margin-top: 10px;
                }
            }
            .price-content {
                ul {
                    li {
                        color: #474a5d;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}