//  Variables Sections  //

//Colors
$color-white: #ffffff;
$black: #000000;
$border-color: #e7e7e7;
$color-black: #474a5d;
$color-grey: #b5b9c0;
$theme-color: #f45b5e;

//Font Family 
$font-family: 'Josefin Sans', sans-serif;
$font-abrilfatface: 'Abril Fatface', cursive;
$font-opensans: 'Open Sans', sans-serif;

//Font Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;

//Text Transform
$text-uppercase: uppercase;
$text-capitalize: capitalize;

$value: 16;